/*#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}
*/
#greeting-container {
  margin-top: 20px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
}

subtitle {
    color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: dodgerblue;
    text-align: center;
}

h2 {
    color: mediumseagreen;
    text-align: left;
}

p {
    color: #666666;
    font-family: Georgia, serif;
    font-size: 18px;
}

.header {
    background-color: gold;
    text-align: center;
    padding: 20px;
}

.footer {
    text-align: center;
    color: gold;
    padding: 20px;
}

.navigationbar {
    overflow: hidden;
    background-color: goldenrod;
}

.navigationbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigationbar a:hover {
  background-color: #ddd;
  color: black;
}

/*only work for the art section not the cooking one*/
.gallery {
  margin: 1px;
  align-content: center;
  float:left;
  border: 3px solid #ccc;
}

.gallery img {
    width: 100%;
    height: auto;
}
.gallery:after{
    content: "";
    display: table;
    clear: both;
}

h4 {
    text-align: center;
}

.img_desc {
  padding: 15px;
  text-align: center;
}


.tab div {
    display: none;
}

.tab div:target {
    display: block;
}

.column {
  float: left;
  /*width: 50%;*/
}

.midColumn {
    float: left;
    width: 50%;
}

.sideColumn {
    float: left;
    width: 25%;
    padding-left: 20px;
    padding-right: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.topic {
    background-color: whitesmoke;
    padding: 20px;
    margin-top:20px;
    overflow: auto;
}

#profPic {
  width: 100%;
  height: auto;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*makes the columns stack ontop instead of next to each other*/
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}